language: cpp

env:
  global:
    # Ubuntu version
    - LINUX_DIST=trusty
  matrix:
# 6 - SEACASAprepro_lib_aprepro_lib_unit_test (Not Run)
    - PACKAGE=SEACAS MODE=notest
# 1 - KokkosCore_UnitTest_Serial_MPI_1 (Failed)
    - PACKAGE=Kokkos MODE=notest
# Tpetra will timeout if running test
    - PACKAGE=Tpetra MODE=notest
    - PACKAGE=STK MODE=full
    - PACKAGE=Gtest MODE=full
    - PACKAGE=ThreadPool MODE=full
    - PACKAGE=Teuchos MODE=full
    - PACKAGE=KokkosKernels MODE=full
    - PACKAGE=RTOp MODE=full
    - PACKAGE=Sacado MODE=full
    - PACKAGE=MiniTensor MODE=full
    - PACKAGE=Epetra MODE=full
    - PACKAGE=Shards MODE=full
    - PACKAGE=GlobiPack MODE=full
    - PACKAGE=Triutils MODE=full
    - PACKAGE=TrilinosSS MODE=full
    - PACKAGE=EpetraExt MODE=full
    - PACKAGE=Domi MODE=full
    - PACKAGE=Thyra MODE=full
    - PACKAGE=OptiPack MODE=full
    - PACKAGE=AztecOO MODE=full
    - PACKAGE=Galeri MODE=full
    - PACKAGE=Amesos MODE=full
    - PACKAGE=Pamgen MODE=full
    - PACKAGE=ML MODE=full
    - PACKAGE=Belos MODE=full
    - PACKAGE=ShyLU_Node MODE=full
    - PACKAGE=Amesos2 MODE=full
    - PACKAGE=Anasazi MODE=full
    - PACKAGE=Ifpack2 MODE=full
    - PACKAGE=Stratimikos MODE=full
    - PACKAGE=FEI MODE=full
    - PACKAGE=Intrepid2 MODE=full
    - PACKAGE=Phalanx MODE=full
    - PACKAGE=ShyLU_DD MODE=full
    - PACKAGE=ShyLU MODE=full
    - PACKAGE=Pike MODE=full
    - PACKAGE=Intrepid MODE=full
    - PACKAGE=Zoltan2 MODE=full
    - PACKAGE=Ifpack MODE=full
    - PACKAGE=Xpetra MODE=full
    - PACKAGE=Zoltan MODE=full
#   - PACKAGE=Isorropia     make: *** [all] Error 2
# Rythmos, Tempus, Stokhos, ROL, Xpetra, Piro, NOX, MueLu, Teko, Panzer, TrilinosCouplings timeout even when not running test
#   - PACKAGE=Rythmos   Timeout
#   - PACKAGE=Tempus    Timeout
#   - PACKAGE=Stokhos   Timeout
#   - PACKAGE=ROL       Timeout
#   - PACKAGE=Piro      Timeout
#   - PACKAGE=NOX     Timeout
#   - PACKAGE=MueLu   Timeout
#   - PACKAGE=Teko    Timeout
#   - PACKAGE=Panzer Timeout
#   - PACKAGE=TrilinosCouplings Timeout


git:
  depth: 3

before_install:
  - sudo apt-get install -qq libblas-dev liblapack-dev gfortran mpich libboost-dev libnetcdf-dev libmatio-dev libboost-all-dev
 
before_script:
  - git clone https://github.com/duongdoOrg/Trilinos Trilinos
  - chmod +x Trilinos/do-configure
  - mkdir BUILD
  - cd BUILD
  
script:
  - ../Trilinos/./do-configure -DTrilinos_ENABLE_$PACKAGE=ON
  - make -j 2
  - if [[ "$MODE" = "full" ]]; then ctest -j 2; fi

