language: cpp

os:
  - linux
  - osx

env:
  global:
    # Ubuntu version
    - LINUX_DIST=trusty
  matrix:
    - PACKAGE=Tempus MODE=notest MPI=ON
    - PACKAGE=Stokhos MODE=notest MPI=ON
    - PACKAGE=ROL MODE=notest MPI=ON
    - PACKAGE=Piro MODE=notest MPI=ON
    - PACKAGE=NOX MODE=notest MPI=ON
    - PACKAGE=MueLu MODE=notest MPI=ON
    - PACKAGE=Panzer MODE=notest MPI=ON
    - PACKAGE=TrilinosCouplings MODE=notest MPI=ON
    - PACKAGE=Rythmos MODE=notest MPI=ON
    - PACKAGE=Teko MODE=notest MPI=ON
    - PACKAGE=Tpetra MODE=full MPI=OFF
    - PACKAGE=STK MODE=full MPI=ON
    - PACKAGE=Gtest MODE=full MPI=ON
    - PACKAGE=ThreadPool MODE=full MPI=ON
    - PACKAGE=Teuchos MODE=full MPI=ON
    - PACKAGE=KokkosKernels MODE=full MPI=ON
    - PACKAGE=RTOp MODE=full MPI=ON
    - PACKAGE=MiniTensor MODE=full MPI=ON
    - PACKAGE=Epetra MODE=full MPI=ON
    - PACKAGE=Shards MODE=full MPI=ON
    - PACKAGE=GlobiPack MODE=full MPI=ON
    - PACKAGE=Triutils MODE=full MPI=ON
    - PACKAGE=TrilinosSS MODE=full MPI=ON
    - PACKAGE=EpetraExt MODE=full MPI=ON
    - PACKAGE=Domi MODE=full MPI=ON
    - PACKAGE=Thyra MODE=full MPI=ON
    - PACKAGE=OptiPack MODE=full MPI=ON
    - PACKAGE=AztecOO MODE=full MPI=ON
    - PACKAGE=Galeri MODE=full MPI=ON
    - PACKAGE=Amesos MODE=full MPI=ON
    - PACKAGE=Pamgen MODE=full MPI=ON
    - PACKAGE=ML MODE=full MPI=ON
    - PACKAGE=Belos MODE=full MPI=ON
    - PACKAGE=ShyLU_Node MODE=full MPI=ON
    - PACKAGE=Amesos2 MODE=full MPI=ON
    - PACKAGE=Anasazi MODE=full MPI=ON
    - PACKAGE=Ifpack2 MODE=full MPI=ON
    - PACKAGE=Stratimikos MODE=full MPI=ON
    - PACKAGE=FEI MODE=full MPI=ON
    - PACKAGE=Intrepid2 MODE=full MPI=ON
    - PACKAGE=Phalanx MODE=full MPI=ON
    - PACKAGE=ShyLU_DD MODE=full MPI=ON
    - PACKAGE=ShyLU MODE=full MPI=ON
    - PACKAGE=Pike MODE=full MPI=ON
    - PACKAGE=Intrepid MODE=full MPI=ON
    - PACKAGE=Zoltan2 MODE=full MPI=ON
    - PACKAGE=Ifpack MODE=full MPI=ON
    - PACKAGE=Xpetra MODE=full MPI=ON
    - PACKAGE=Zoltan MODE=full MPI=ON
# 6 - SEACASAprepro_lib_aprepro_lib_unit_test (Not Run)
    - PACKAGE=SEACAS MODE=notest MPI=ON
# 1 - KokkosCore_UnitTest_Serial_MPI_1 (Failed)
    - PACKAGE=Kokkos MODE=notest MPI=ON
# 194 - Sacado_tradoptest_45_ADC_MPI_1 (Failed)
    - PACKAGE=Sacado MODE=notest MPI=ON
#   - PACKAGE=Isorropia     make: *** [all] Error 2


git:
  depth: 3

before_install:
  - sudo apt-get install -qq libblas-dev liblapack-dev gfortran mpich libboost-dev libnetcdf-dev libmatio-dev libboost-all-dev
 
before_script:
  - git clone https://github.com/duongdoOrg/Trilinos Trilinos
  - chmod +x Trilinos/do-configure
  - mkdir BUILD
  - cd BUILD
  
script:
  - ../Trilinos/./do-configure -DTrilinos_ENABLE_$PACKAGE=ON -DTPL_ENABLE_MPI=$MPI
  - make -j 2
  - if [[ "$MODE" = "full" ]]; then ctest -j 2; fi

